*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.toolbar{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,40px));
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items:center;
}

.tool-items{
    background-color: rgb(27, 26, 26);
     padding-top: .6rem;
     padding-bottom:.6rem;
    cursor: pointer;
    color: #ffff;
}
.tool-items:hover{
    box-shadow: none;
    background-color: #6b5e5e;

}